@mixin rounded-corners {
  $rounded-corner-radius: 4px;
  -webkit-border-radius: $rounded-corner-radius;
  -moz-border-radius: $rounded-corner-radius;
  -ms-border-radius: $rounded-corner-radius;
  border-radius: $rounded-corner-radius;
}

form span {
    color: red;
}

#tableOrdersTemplate, #tableCustomers {
    @include rounded-corners;
    border-collapse: separate !important;
    border-spacing: 2px !important;
  th {
    cursor: pointer;
  }
}

#tableOrdersTemplate th {
    width: 16%;
}

#tableCustomers th {
    width: 20%;
}

/* Bootstrap overrides */
.navbar {
    border-radius: 0px !important;
}

/* ngAnimate */
@mixin keyframes($arg) {
  @-webkit-keyframes #{$arg} {
    @content; 
  }
  @-moz-keyframes #{$arg} {
    @content;
  }
  @-ms-keyframes #{$arg} {
    @content;
  }
  @keyframes #{$arg} {
    @content;
  } 
}

@include keyframes(slideOutLeft) {
  to { transform: translateX(-100%); }
}
@include keyframes(slideInRight) {
  from { transform:translateX(50%); }
  to { transform: translateX(0); }
}

@mixin ngAnimateEnter($arg) {
  -webkit-animation: $arg;
  -moz-animation: $arg;
  animation: $arg;
}

#divView.ng-enter {
    @include ngAnimateEnter(slideInRight 0.2s both ease-in);
}

.animationEffect.ng-enter,
.animationEffect.ng-leave {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.animationEffect.ng-enter,
.animationEffect.ng-leave.ng-leave-active {
    opacity: 0;
}

.animationEffect.ng-enter.ng-enter-active,
.animationEffect.ng-leave {
    opacity: 1;
}