<div class="container">
    <div class="jumbotron">
        <h2>Customers</h2>
        <p>Allow users to view and add customers</p>
    </div>
    <div class="row">
        <div class="col-sm-3">
            First Name:
            <br />
            <input data-ng-model="newCustomer.firstName" type="text" placeholder="First Name">
        </div>
        <div class="col-sm-3">
            Last Name:
            <br />
            <input data-ng-model="newCustomer.lastName" type="text" placeholder="Last Name">
        </div>
        <div class="col-sm-3">
            City:
            <br />
            <input data-ng-model="newCustomer.city" type="text" placeholder="Customer City">
        </div>
        <div class="col-sm-3">
            <br />
            <button class="btn btn-success" type="button" data-ng-click="insertCustomer()"
                    data-ng-disabled="!newCustomer.firstName || !newCustomer.lastName || !newCustomer.city">
                Add Customer
            </button>
        </div>
    </div>
    <br /><br />
    <div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th class="selectable">
                        <a ng-click="orderByField='firstName'; reverseSort = !reverseSort">Name</a>
                    </th>
                    <th class="selectable">
                        <a ng-click="orderByField='city'; reverseSort = !reverseSort">City</a>
                    </th>
                    <th class="selectable">
                        <a ng-click="orderByField='customer.orders.length'; reverseSort = !reverseSort">Orders</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="customer in customers | orderBy:'firstName':reverseSort">
                    <td>
                        {{customer.firstName + ' ' + customer.lastName}}
                    </td>
                    <td>
                        {{customer.city}}
                    </td>
                    <td>
                        <a href="#/customerorders/{{customer.id}}" class="btn-link">View {{ customer.orders.length }} Orders</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>