<table id="tableOrdersTemplate" class="table table-hover table-striped table-condensed table-bordered"
       data-ng-controller="OrdersTemplateController">
    <thead>
        <tr>
            <th ng-click="orderByField='product'; reverseSort = !reverseSort">
                Product
            </th>
            <th ng-click="orderByField='quantity'; reverseSort = !reverseSort">
                Quantity
            </th>
            <th ng-click="orderByField='price'; reverseSort = !reverseSort">
                Unit Price
            </th>
            <th ng-click="orderByField='order.quantity * order.price'; reverseSort = !reverseSort">
                Total
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-hide="customer.orders || customer.orders.length > 0" class="error">
            <td colspan="5">
                <div class="text-center"><strong>No orders found</strong></div>
            </td>
        </tr>
        <tr data-ng-repeat="order in customer.orders | orderBy:'product':reverseSort" class="animationEffect">
            <td>
                {{ order.product }}
            </td>
            <td>
                {{ order.quantity }}
            </td>
            <td>
                {{ order.price | currency }}
            </td>
            <td>
                {{ order.quantity * order.price | currency }}
            </td>
            <td>
                <a class="btn-link" ng-click="EditOrder(order.orderId)">Edit order</a>
            </td>
            <td>
                <a class="btn-link" ng-click="deleteOrder(order.orderId)">Delete order</a>
            </td>
        </tr>
        <tr class="info">
            <td colspan="3">
                &nbsp;
            </td>
            <td>
                <strong>{{ getTotal() | currency }}</strong>
            </td>
        </tr>
    </tbody>
</table>