<div class="row">
    <div class="col-sm-3">
        Name:
        <br />
        <input data-ng-model="newUser.name" type="text" placeholder="Name">
    </div>
    <div class="col-sm-3">
        Email:
        <br />
        <input data-ng-model="newUser.email" type="text" placeholder="Email">
    </div>
    <div class="col-sm-3">
        Phone:
        <br />
        <input data-ng-model="newUser.phone" type="text" placeholder="Phone">
    </div>
    <div class="col-sm-3">
        <br />
        <button class="btn btn-success" type="button" data-ng-click="insertUser()"
                data-ng-disabled="!newUser.name || !newUser.email || !newUser.phone">
            Add User
        </button>
    </div>
</div>

<div class="container">
    <div class="row cardContainer">
        <div class="span3 card" data-ng-repeat="post in posts">
            <button class="btn close cardClose">&times;</button>
            <div class="cardHeader">{{post.title}}</div>
            <div class="cardBody">{{post.body}}</div>
        </div>
    </div>
</div>